<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mahali - Password Reset</title>
    {% include 'include/styles.html' %}
</head>
<body id="auth-login">
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Mahali - Password Reset</span>
    </nav>
    
    <main>
        <div class="auth-form-container">
            <div class="flashed">
                {{message[0]}}
            </div>
            <form class="auth-form" method="POST" action="/auth/password/request">
                <div class="form-group">
                <label for="auth-admin-reset-email">Email</label>
                {{form.email(class="form-control", placeholder="Enter Email", id="auth-admin-reset-email")}}
                </div>
                <button type="submit" class="btn btn-primary btn-auth-form">Reset Password Via Email</button>
                  {{form.csrf_token}}
            </form>
        </div>
    </main>
    
    
    
    
    
    
    {% include 'include/scripts.html' %}
</body>
</html>