<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mahali - Set New Password</title>
    {% include 'include/styles.html' %}
</head>
<body id="auth-login">
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Mahali - Set New Password</span>
    </nav>
    
    <main>
        <div class="auth-form-container">
            <div class="flashed">
                {{message[0] | replace('[', '') | replace(']', '') | replace("'", '')   }}
            </div>
            <form class="auth-form" method="POST" action="/auth/password/update/{{pid}}">
                <div class="form-group">
                <label for="auth-admin-reset-email">Password</label>
                {{form.password(class="form-control", placeholder="Enter new password", id="auth-admin-set-password")}}
                </div>
                <div class="form-group">
                    <label for="auth-admin-reset-email">Confirm Password</label>
                    {{form.confirm_password(class="form-control", placeholder="Confirm new password", id="auth-confirm-set-password")}}
                </div>
                <button type="submit" class="btn btn-primary btn-auth-form">Confirm Password Change</button>
                  {{form.csrf_token}}
            </form>
        </div>
    </main>
    
    
    
    
    
    
    {% include 'include/scripts.html' %}
</body>
</html>