<nav class="navbar navbar-expand-lg frontend-nav">
    <a class="navbar-brand" href="/"><img src="{{url_for('static', filename='images/front/nav-logo.png')}}" class="front-nav-logo" width="250" height="80"><br> <h4 id="brand-sub">Empowering A Community</h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Who we are</a>
        <a class="nav-item nav-link" href="#">Explore</a>
        <a class="nav-item nav-link" href="#">Find</a>
        <a class="nav-item nav-link" href="#">Website Network</a>
        <a class="nav-item nav-link" href="#">Bookstore</a>
        <button type="button" class="btn-seethrough">Add Listing</button>
      </div>
    </div>
</nav>