<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'include/styles.html' %}
    <title>Mahali</title>
</head>
<body>
    {% include 'include/main/navigation.html' %}
    <main>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               
                <div class="carousel-item active">
                    <div class="d-block w-100 img-car-one"></div>
                </div>
                <div class="carousel-item">
                    <div class="d-block w-100 img-car-two"></div>
                </div>
            </div>
        </div>
        <h1 class="welcome-heading">Welcome to Mahali. The place for: Community education  </h1>

        <!-- About -->

        <div class="about-mahli">
            <div class="about-headings">
                <h4 class="heading-sub">About Mahali</h4>
                <h2>Who We Are</h2>
            </div>
            <div class="about-mahali-wrapper">
                <div class="about-paragraph">
                    <p>
                        Jamii is a Community website founded by Rebekah Samuel and Sharon Powell. As Founders, we are committed to giving back to our Community and our mission is to drive and facilitate positive change. We hope to achieve this through collective understanding and mutual determination. As a new organisation, we look forward to growing and developing the support we can provide to our Community. For now, we encourage visitors and members to explore the great products and services within our Business Directory offered by black business owners. In our UPLIFT section (our Community Hub), you will find a variety of information such as news, knowledge, announcements, educational content, notification of events and more, all geared towards uplifting the Community.
                    </p>
                </div>
                <div class="our-mission">
                    <img src="{{url_for('static', filename='images/front/mission.png')}}" height="300" width="300" id="mission-img">
                </div>
            </div>
        </div>

        <!-- Services -->

        <div class="services">
            <div class="services-wrapper">
                <h5 class="heading-sub">Services</h5>
                <p class="services-p-text">Search our Business Directory for suppliers of great Products and Services, Or find news, events, courses & more in the UPLIFT Community Hub</p>

            <!-- Services Grid / Product / Services / Uplift -->
                    <div class="additional-wrapper">
                        <div class="service-grid-wrapper">
                            <div class="product-service-grid">
                                <div class="product-service-title">
                                    <h5>PRODUCTS</h5>
                                    <p class="product-service-grid-text">
                                        Find products for sale
                                    </p>
                                </div>
                            </div>

                            <div class="service-service-grid">
                                <div class="service-service-title">
                                    <h5>SERVICES</h5>
                                    <p class="product-service-grid-text">
                                        Find products for sale
                                    </p>
                                </div>
                            </div>

                            <div class="uplift-service-grid">
                                <div class="uplift-service-title">
                                    <h5>UPLIFT</h5>
                                    <p class="product-service-grid-text">
                                        News, Events, Courses, etc.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

       <!-- Bookstore -->
       <div class="homepage-bookstore">
        <h4 class="heading-sub">Mahali Bookstore</h4>
        <h2>Come and browse. There's a wide range of fantastic Authors for you to choose from</h2>
       </div>
    </main>
    {% include 'include/scripts.html' %}
</body>
</html>