/* global styles */

html, body {
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    list-style-type: none;
}

/* Flashed Messages */

.flashed {
    color: red;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

#auth-login .flashed {
    margin-bottom: 30px;
    margin-top: 0px;
}

/* Auth Pages */

/* Auth Form */

.auth-form-container {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    top: 150px;
    border: 1px solid;
    padding: 50px;
    border-radius: 8px;
}

.btn-auth-form {
    width: 100%;
}

a#reset-pw-link {
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
}