/* global styles */

html, body {
    margin: 0;
    padding: 0;
    font-family: "Catamaran", sans-serif;
}

ul li {
    list-style-type: none;
}

ul {
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, span {
    font-family: "Josefin Sans";
    font-weight: 200;
}

main {
    width: 100%;
}

/* Flashed Messages */

.flashed {
    color: red;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

#auth-login .flashed {
    margin-bottom: 30px;
    margin-top: 0px;
}

/* Auth Pages */

/* Auth Form */

.auth-form-container {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    top: 150px;
    border: 1px solid;
    padding: 50px;
    border-radius: 8px;
}

.btn-auth-form {
    width: 100%;
}

a#reset-pw-link {
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
}

/* Admin Dashboard */

/* Admin Navigation */

.admin-dashboard-body {
    display: flex;
}



.admin-side-navigation {
    min-height: 100vh;
    width: 200px;
    color: white;
    position: fixed;
}

.side-nav-branding {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 1px;
    border-bottom: 2px solid #e6e6e6;
    margin-bottom: 20px;
}

.side-nav-links {
    display: flex;
    align-items: center;
}

.side-nav-links ul {
    width: 100%;
    overflow:hidden;
}

.side-nav-links a:hover {
    text-decoration: none;
}

.side-nav-links ul li {
    padding: 10px;
    color: white;
}

.side-nav-links svg {
    position: relative;
    bottom: 2px;
}

svg#svg-home {
    position: relative;
    bottom: 4px;
}

.logout-user {
    position: absolute;
    bottom: 3%;
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding-top: 22px;
    border-top: 1px solid #e6e6e6;
}

.hidden-post-links {
    display: none;
    position: relative;
    left: 10px;
    font-size: 13px;
}

/* Admin navigation end */


/* admin main content contained */

.dashboard-content-wrapper {
    border: 1px solid;
    padding: 10px;
}

.admin-dash-main {
    width: 100%;
    margin-left: 200px;
}

/* admin post categories page */

.cat-search-box {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

input#search-categories {
    border: 1px solid #E0E0E0;
    margin-right: 4px;
}

button#search-cat-btn {
    border: none;
}

h2#cat-heading {
    font-weight: 300;
    padding: 50px 0px 0px 50px;
}

.post-categories-container {
    display: flex;
    padding: 40px;
    justify-content: space-around;
}

h2#add-new-cat {
    font-weight: 300;
    margin-bottom: 50px;
}

.post-categories-container .flashed {
    margin-bottom: 20px;
}

.category-block-one {
    padding-right: 37px;
    width: 40%;
}

.category-block-two {
    width: 50%;
}

/* admin categories end */

/* table actions */

.cat-table-actions {
    position: relative;
    bottom: 26px;
}

select.select-actions {
    padding: 5px;
    border: none;
}

button.btn.btn-danger.btn-action-select {
    height: 28px;
    padding: 0px;
    position: relative;
    bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
}

/* cat table */

.cat-table {
    width: 100%;
    position: relative;
    bottom: 17px;
    border: 1px solid #E0E0E0;
    height: 250px;
}

.cat-table th {
    font-weight: 300;
    width: 33.3%;
    padding-bottom: 10px;
    padding-top: 10px;
}

th.th-name {
    padding-left: 27px;
}

.cat-table td {
    padding: 10px;
}

.cat-table tr:nth-child(even) {
    background: #e6e6e6;
}

.category-block {
    display: flex;
    width: 100%;
    border: 1px solid;
    padding: 20px;
    justify-content: space-between;
    margin-bottom: 5px;
}

a.cat-delete-link {
    color: red;
    position: relative;
    top: 5px;
}

/* cat table end */

/* admin create blog post */

.admin-all-posts-wrapper {
    max-width: 70%;
    margin: 0 auto;
    position: relative;
    top: 100px;
}

.create-blog-post-header {
    display: flex;
    justify-content: space-between;
}

h2#new-blog-post-heading {
    padding-bottom: 20px;
    position: relative;
    left: 8px;
}

a#cancel-blog-post {
    color: red;
    position: relative;
    top: 11px;
}

input#new-blog-title {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
}

div#cke_post-content {
    border: none;
    position: relative;
    left: 7px;
    margin-bottom: 20px;
}

.admin-all-posts-wrapper label {
    width: 130px;
    position: relative;
    left: 10px;
}

.admin-all-posts-wrapper select {
    padding: 10px;
    border: none;
}

li#submit-btn-li {
    margin-top: 20px;
}

.btn-submit-post {
    width: 100%;
    position: relative;
    left: 6px;
}

/* admin create blog post end */

/* all Posts page */

.blog-posts-backend {
    background: #e6e6e6;
}

.admin-all-posts-panel {
    padding: 40px;
    background: #e6e6e6;
}

.admin-all-posts-table-container {
    background: white;
    padding: 20px;
    border-radius: 4px;
}

.admin-all-posts-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

span.article-page-breadcrumb {
    position: relative;
    top: 13px;
}

.article-page-breadcrumb a:hover {
    text-decoration: none;
}

.add-article-btn {
    padding-bottom: 20px;
    position: relative;
    left: 2px;
}

.posts-search-filter {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.records-per-page {
    display: flex;
}

input#points {
    width: 42px;
    border: 1px solid grey;
    padding: 3px;
    border-radius: 4px;
}

p#records-per-page {
    position: relative;
    left: 6px;
    top: 8px;
}

input#searchinputbox {
    width: 132px;
    border: 1px solid grey;
    border-radius: 4px;
}

.show-all-posts {
    margin-top: 20px;
}

/* all posts table */

table#posts-table th {
    font-size: 13px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    
}

tr.posts-details td {
    font-size: 14px;
    padding: 10px;
    position: relative;
    right: 10px;
}

.posts-details:nth-child(even){
    background:  #e6e6e6;
}

.posts-details td{
    border-right: 1px solid white;
}

.posts-details a {
    color: inherit;
}

.posts-details a:hover {
    text-decoration: none;
}

svg.edit-post-pencil {
    position: relative;
    bottom: 2px;
}

td.actions-td {
    width: 100px;
}

/* all posts table end */

/* all posts end */

/* Front End - Main Index */

/* nav */

.frontend-nav {
    z-index: 99;
}

a.navbar-brand {
    padding-left: 20px;
    position: relative;
    top: 10px;
}

h4#brand-sub {
    color: white;
    font-size: 15px;
    text-align: center;
    padding-top: 7px;
}

.navbar-nav a {
    color: white;
    font-size: 20px;
    margin: 10px;
}

/* nav end */

/* hero */

div#navbarNavAltMarkup {
    justify-content: flex-end;
}

div#carouselExampleSlidesOnly {
    margin-top: -142px;
}

.w-100 {
    height: 100vh;
}

.img-car-one {
    background-image: url("../images/front/slide2-1024x530.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.img-car-one:before, .img-car-two:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0,0,0,.5);
}

.img-car-two {
    background-image: url("../images/front/slide3-scaled.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1.welcome-heading {
    z-index: 99!important;
    color: white;
    position: absolute;
    top: 38%;
    padding-left: 64px;
    max-width: 800px;
    font-size: 51px;
}

/* hero end */

/* about mahali */

.about-mahali-wrapper {
    display: flex;
}

.about-mahli {
    padding: 50px 0px;
}

.about-paragraph {
    width: 70%;
    padding-left: 90px;
    padding-top: 50px;
}

.our-mission {
    width: 30%;
    text-align: center;
    position: relative;
    bottom: 32px;
}

.about-headings {
    margin-left: 91px;
}

.heading-sub {
    padding-bottom: 30px;
}

.about-headings h2 {
    padding-bottom: 30px;
    border-bottom: 4px solid black;
    width: 139px;
    white-space: nowrap;
}

/* about end */

/* services */

.services {
    background: black;
    color: white;
    padding-bottom: 100px;
}

.services-wrapper {
    max-width: 70%;
    margin: 0 auto;
    padding-top: 30px;
}

p.services-p-text {
    font-size: 30px;
    margin-top: -20px;
    max-width: 400px;
    font-weight: 500;
}

/* services grid */

.service-grid-wrapper {
    display: flex;
    justify-content: space-between;
}

.product-service-grid {
    background-image: url(../images/front/Products.jpg);
    width: 380px;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.service-service-grid {
    background-image: url(../images/front/Services.jpg);
    width: 380px;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.uplift-service-grid {
    background-image: url(../images/front/Uplift.jpg);
    width: 380px;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.product-service-title, .service-service-title, .uplift-service-title{
    display: flex;
    flex-direction: column;
    align-items: CENTER;
    position: absolute;
    bottom: -7%;
    background: white;
    width: 80%;
    color: green;
    left: 11%;
    border-radius: 1px;
}

.product-service-title h5, .service-service-title h5, .uplift-service-title h5 {
    font-size: 15px;
    position: relative;
    top: 7px;
    padding-bottom: 4px;
}


/* Media Queries */

@media screen and (max-width:1330px){
    .services-wrapper {
        max-width: 100%;
        padding-left: 50px;
    }
}