<nav class="admin-side-navigation navbar-dark bg-dark">
    <div class="side-nav-wrapper">
        <div class="side-nav-branding">
            <h2>Mahali</h2>
        </div>
        <div class="side-nav-links">
            <ul>
                <a href="{{url_for('admin_bp.dashboard')}}">
                    <li>
                        Dashboard
                    </li>
                </a>
                <a href="{{url_for('admin_bp.posts')}}">
                    <li>
                        Posts
                    </li>
                </a>
                <a href="{{url_for('admin_bp.category_page')}}">
                    <li>
                        Categories
                    </li>
                </a>
                <li>
                    Bookstore
                </li>
                <li>
                    Directory
                </li>
            </ul>
        </div>
    </div>
</nav>