<nav class="admin-side-navigation navbar-dark bg-dark">
    <div class="side-nav-wrapper">
        <div class="side-nav-branding">
            <h2>Mahali</h2>
        </div>
        <div class="side-nav-links">
            <ul>
                <li>
                    Dashboard
                </li>
                <li>
                    Posts
                </li>
                <li>
                    Categories
                </li>
                <li>
                    Bookstore
                </li>
                <li>
                    Directory
                </li>
            </ul>
        </div>
    </div>
</nav>