<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% include 'include/styles.html' %}
</head>
<body class="admin-dashboard-body">
    {% include 'include/admin/side-navigation.html' %}
    <main class="admin-dash-main">
        <div class="dashboard-content-wrapper">
            <h1>Main Content</h1>
        </div>
    </main>



    {% include 'include/scripts.html' %}
</body>
</html>