<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Book</title>
    {% include 'include/styles.html' %}
</head>
<body class="admin-dashboard-body" onload="preloadTextEditor('book-description', '{{book.book_description}}')">
    {% include 'include/admin/side-navigation.html' %}
         
    <main>
        <div class="create-book-wrapper">
            <div class="create-book-form-container">
                <form method="POST" action="/test" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Title</label>
                        {{form.name(class="form-control", value=book.book_title)}}
                    </div>
                    <div class="form-group">
                        {{form.description(class="form-control", id="book-description", value=book.book_description)}}
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        {{form.price(class="form-control", value=book.book_price)}}
                    </div>
                    <div class="form-group">
                        {{form.img(class="form-control-file")}}
                        <div class="edit-book-img">
                            <img src="{{url_for('static', filename='images/books/' + book.book_img)}}">
                            <svg onclick="deleteUploadedImg()" height="20" width="20" class="w-6 h-6" fill="red" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                        </div>
                        <input type="hidden" id="img-deleted" name="img-deleted">
                    </div>
                    <div class="form-group">
                        <label for="url">Referral URL(e.g ; Amazon)</label>
                        {{form.url(class="form-control", value=book.referral_link)}}
                    </div>
                    {{form.csrf_token}}
                    <button type="submit" class="btn btn-primary">Create Book</button>
                </form>

                <div class="flashed">
                    {{message[0] | replace('[', '') | replace(']', '') | replace("'", '')   }}
                </div>
            </div>
        </div>


    </main>

    {% include 'include/scripts.html' %}
</body>
</html>