<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% include 'include/styles.html' %}
</head>
<body class="admin-dashboard-body admin-posts-backend-body">
    {% include 'include/admin/side-navigation.html' %}
    <main class="admin-dash-main">
        <div class="admin-all-posts-panel">
            <div class="admin-all-posts-header">
                <h2>Articles</h2>
                <span class="article-page-breadcrumb">
                    <a href="{{url_for('admin_bp.dashboard')}}">Dashboard</a> > All Posts
                </span>
            </div>
            <div class="admin-all-posts-table-container">
                <div class="add-article-btn">
                    <a href="{{url_for('admin_bp.create_post')}}">
                        <button type="button" class="btn btn-primary btn-add-article">Add Article</button>
                    </a>
                </div>
                <div class="posts-search-filter">
                    <div class="records-per-page">
                        <input type="number" id="points" name="points" step="1" value="10">
                        <p id="records-per-page">Records Per Page</p>
                    </div>
                    <div class="search-posts">
                        <label for="search-posts" id="searchposts">Search: </label>
                        <input type="text" id="searchinputbox">
                    </div>
                </div>
                <div class="show-all-posts">
                    <table id="posts-table" style="width:100%">
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Date</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        {% for item in posts %}
                            <tr class="posts-details">
                                <td>{{item.title}}</td>
                                <td>{{item.author}}</td>
                                <td>{{item.date_time}}</td>
                                <td>{{item.category}}</td>
                                <td>{{item.status}}</td>
                                <td class="actions-td">
                                    <a href="#">
                                        <a href="{{url_for('admin_bp.edit_post', postID=item.id)}}">Edit</a> | <a href="{{url_for('admin_bp.delete_post', postID=item.id)}}">Delete</a>
                                            
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    
                    
                    </table>
                </div>
            </div>
        </div>
    </main>



    {% include 'include/scripts.html' %}
</body>
</html>